body
{
	background: #EEEEEE;
	font-size: 16px;
	margin: 0 5%;
	width: 90%;
}

footer
{
	background: #FFFFFF;
	border: 1px solid blue;
	text-align: center;
}


header
{
	background: #FFFFFF;
	display: block;
	overflow: hidden;

}

header h2
{
	float: right;
}

header img
{
	float: left;
}

nav
{
	background: #FFFFFF;
	border: 1px solid blue;
	margin: 5px 0;

}

nav ul
{
	list-style: none;
}

nav ul li
{
	display: inline-block;
	margin-right: 1em;
}

nav ul li a
{
	display: block;
	padding: 0.2em;
	text-decoration: none;
}

section
{
	background: #EEEEEE;
}

/*Estilo formulario para registro de pago*/
section input
{
	/*border: 1px solid rgba(0,0,0,0.3);*/
	display: block;
	width: 30em;

}

section input[type=submit]
{

	display: block;
	margin-top: 1em;
	position: relative;
	right: 20%;
	left: 25%;
}


section label
{
	display: inline-block;
	margin: 1em 1em;
	text-align: center;
}

/*placeholder*/

::-webkit-input-placeholder {
   text-align: center;
}


/*:-moz-placeholder {
   color: red;  
}

::-moz-placeholder {  
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}
*/

#avatar
{
	width: 300px;
}

#form_proveedores
{
	background: #FFFFFF;
	margin-bottom: 2em;
	padding: 0.5em 1em;
}

#form_proveedores h2
{
	text-align: center;
}

#formulario_proveedores
{
	display: block;
	position: relative;
	left: 3%;
}





