#auxiliar{
	margin-bottom: 0.2em;
}

#auxiliar img
{
	float: left;
	
}
#auxiliar span
{
	position: absolute;
	right: 0;
	bottom: 10px;
	
}

#auxiliar .titulo_pagina
{
	color: rgba(255,255,255,0.4);
	position: absolute;
	right: 0;
	top: 5px;
}


/*para nav*/
#nav-auxiliar 
{
}

#nav-auxiliar li.parent{
	margin-left: 5em;

}

#nav-auxiliar li{
	display: inline-block;
	list-style: none;
	position: relative;

}

#nav-auxiliar li a {
	display: block;
	padding: 5px;
	text-decoration: none;

}

#nav-auxiliar li.parent:hover
{
	border:1px #ccc solid;
	/*margin:-1px;*/
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);

	/*background:#F8F8F8;*/
}

#nav-auxiliar li ul{
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	display: none;
	margin: 0;
	position: absolute;
	left: -5px;
	width: 420px;

}
#nav-auxiliar li li a {
	display: inline-block;
	width: 160px;
}

#nav-auxiliar li:hover ul
{

	display: block;
}





#form_proveedores
{
	padding: 0 0 0 5em;
}

#form_proveedores h2, #v_proveedor h2
{
	text-align: center;
}


#form_proveedores input[type=submit]
{

	display: block;
	margin-top: 1.5em;
	position: relative;
	right: 50%;
	left: 40%;
	width: 10em;

}

#form_proveedores .seleccion
{

	display: inline-block;
	margin: 0 3em 0 0;
}

#form_proveedores .seleccion select
{	
	width: 30em;
}

#form_proveedores input
{
	display: block;
	width: 30em;
	margin-right: 3em;

}

#form_proveedores label
{
	display: inline-block;
	/*margin: 1em 1em;*/
	/*text-align: center;*/
}

#footer
{
	text-align: center;
}


#formulario_proveedores .otro-banco
{
	width: 20em;
}

#consulta_proveedores 
{
	text-align: center;
}

#consulta_proveedores #grid_container
{
	position: relative;
	left: 10%;
}


#inventarios_rfc
{
	/*color: red;*/
}


.muestra_datos label { 
	margin-left: 5em;
	display: inline-block;
	width: 40%;
}

.muestra_datos .linea { 

	margin-left: 10em;
	display: block;	
}

#enlaces
{
	margin: 1em;
	text-align: center;

}

#enlaces a
{
	color: #FFF;
	background: #428BCA;
	background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
	border-color: #2b669a;
	box-shadow: 0 1px 1px rgba(0,0,0,.075);
	display: inline-block;
	font-style: italic;
	margin: 1em 2em 0;
	padding: 1em;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);


}
